.allEntriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackedAmounts {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trackedAmountsHeaders {
  color: rgb(102, 102, 102);
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}

.trackedAmount {
  font-size: 30px;
  font-weight: 600;
}

.tableHeadersContainer {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}

.tableHeaders {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  display: flex;
  height: 30px;
}

.header {
  width: 100%;
  border-right: 3px solid black;
  background: linear-gradient(white, rgb(204, 204, 204));
}
.header:last-child {
  border-right: none;
}
.header:first-child {
  background: white;
}

.headerName {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  margin-top: 5px;
}

.left {
  width: 100%;
  text-align: start;
  margin-left: 13px;
}
.right {
  text-align: end;
  margin-right: 13px;
}

.allEntries {
  width: 90%;
  margin-bottom: 60px;
}

.adjustments {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newEntryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addNewEntryTitle {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 600;
}

.allInputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin-left: 250px;
}

.buttons {
  margin-top: 90px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.billableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  margin-right: 150px;
  width: 10%;
  height: 60px;
}

.billableTitle {
  font-size: 20px;
  margin-bottom: 25px;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.option {
  font-size: 20px;
}
.date {
  margin: 30px;
  margin-right: 177px;
  background-color: aqua;
  height: 0px;
  font-size: 24px;
}

.date input {
  margin-top: 40px;
  font-size: 18px;
}
